body {
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.6tJFpwVuTqv3RtaqTdoTrQHaEK&pid=Api&rs=1&c=1&qlt=95&w=170&h=95");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }